body{
	font-family: Arial,Verdana,sans-serif;
	font-size: 14px;
	color: #000;
	padding:  0px;
	margin: 0px;
	border: 0px;
}

a{
	color: #000;
}

#all{
	width: 100%;
}

table{
	width: 100%;
	border-collapse: collapse;
}

tr{
	text-align: center;
}

th{
	border: 1px solid black;
	font-weight: bold;
}

td{
	border: 1px solid black;
	padding: 5px;
	cursor: pointer;
}

label{
cursor: pointer;	
}

.grtr{
	background-color: #ebebeb;
}

.atd{
cursor: pointer;	
}

#ctrlfiltr{
	margin: 5px 0px;
	cursor: pointer;
}

#filtr{
	border-top: 1px solid black;
	margin-bottom: 10px;
	display: none;
	min-height: 400px;
}

.fstatus{
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}

#filtr_btn{
	margin: 0px 0px 10px 100px;
	cursor: pointer;
	display: block;
}

.link_to_prop{
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}